/*
Theme Name: default
Theme URI: https://wordpress.org/themes/twentyseventeen/
Author: the WordPress team
Author URI: https://wordpress.org/
Description: Twenty Seventeen brings your site to life with header video and immersive featured images. With a focus on business sites, it features multiple sections on the front page as well as widgets, navigation and social menus, a logo, and more. Personalize its asymmetrical grid with a custom color scheme and showcase your multimedia content with post formats. Our default theme for 2017 works great in many languages, for any abilities, and on any device.
Version: 1.3
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: twentyseventeen
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/


body {
    font-family: "GothamProRegular" !important;

}

.b {

      font-family: "GothamProBold" !important;
}
a:hover {

    text-decoration: none !important;
}

#menu-header {
     background: #131313;


}
#menu-header .phone{
        opacity: 0.95;
    color: #fff;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    font-family: "GothamProBold";
        padding: 0px 17px;
}
#menu-header .phone a{
    color: #fff;

}
#menu-header .phone:hover{
   opacity: 1;
}


#menu-header .logo{
    padding: 12px 0;
    display: inline-block;

}

#menu-header .logo img{
    height: 51px;
    /*margin-left: 51px;*/

}
#menu-header .social{

    display: inline-block;
    padding-left: 15px;

}

#menu-header .social a{
     opacity: 0.80;
    padding: 0px 5px;

}

#menu-header .social a:hover{
     opacity: 1;


}



#menu-header .social a img{

    height: 20px;

}

#menu-header .top-right-menu li a{
   color: #898989;
   font-size: 14px;
   padding: 0 5px;
}
#menu-header .top-right-menu li a:hover{
   text-decoration: none;
   color: #fff;

}
#menu-header .top-right-menu li  {
   list-style-type: none;
   display: inline-block;


}

#menu-header .top-right-menu   {

   display: inline-block;

}

#menu-header .top-right-bottom  div {

   display: inline-block;


}
#menu-header .top-right-bottom  div a{

     color: #fff;
    font-family: "GothamProBold";
    font-size: 17px;

}


#menu-header .top-right-bottom  div a:hover{

     color: #e6e6e6;


}


#menu-header .top-right-bottom  div a:hover{

  text-decoration: none;

}

#menu-header .top-right-bottom  div a img{

    margin: 0 5px;

}

#menu-header  .top-right-button{
   color: #fff;
    font-family: "GothamProBold";
    background: #ed3f1c;
    cursor: pointer;
        margin-left: auto;
    /*margin-right: 63px;*/
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
}
#menu-header  .top-right-button:hover{

    background: #e03f1f;

}


.home_page .dotsCont div {

    display: flex;
    justify-content: center;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    width: 100px;
    height: 72px;
    background-color: red;
    padding-top: 1.1%;
}

.dotsCont div.active  {
   opacity: 1;
}
.dotsCont div {
   opacity: 0.5;
    cursor: pointer;
    transition: 0.2s all;
    margin: 0 20px;
}

.dotsCont div:hover {
    opacity: 1;
}

.dotsCont div span {
    color: white;
    user-select: none;
    font-size: 13px;
}

.dotsCont {
    position: absolute;
    z-index: 2;
     left: 0;
    right: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#slider-section {
    padding-top: 60px;

}

.home_main_slider {
    display: none;
    transition: 0.5s all;
}

.home_main_slider .owl-item,
.single_tour_main_slider {
    height: calc(100vh - 60px);
}

.home_main_slider .owl-item img.slider_1,
.single_tour_main_slider img.slider_1 {
    height: 100vh;
    object-fit: cover;
}

.home_main_slider .content_slider,
.single_tour_main_slider .content_slider {
    position: absolute;
    color: #fff;
    text-align: center;
     left: 0;
    right: 0;
      top: calc(50% - 85px);
    z-index: 2;
}
.home_main_slider .content_slider h2,
.single_tour_main_slider .content_slider h2{
     margin-top: 2px;
    letter-spacing: 4px;
    font-family: "GothamProBlack";
    font-size: 55px;
    text-transform: uppercase;
    padding: 0 20%;
}
.single_tour_main_slider{
    position: relative;
}
.bold {

        font-family: "GothamProBold";


}
.black {

        font-family: "GothamProBlack";


}

.owl-prev {
        top: calc(50% - 22px);
            position: absolute;
    left: 20px;
     z-index: 2;
}
.owl-next {
        top: calc(50% - 22px);
    position: absolute;
    right: 20px;
     z-index: 2;
}



#direct-section {
    background: #1cbb88;
   text-align: center;

}
#direct-section h2{
    font-size: 32px;
    font-family: "GothamProBold";
    color: #fff;

    padding: 50px 37px 37px;
    margin: 0;
    text-transform: uppercase;
}
#direct-section .row{
  /*max-width: 860px;*/
       margin: 0 auto;
}
#direct-section .col-md-3:last-child .img_content{
   border-right: none;

}
#direct-section .img_content{
    min-height: 76px;
    border-right: 1px solid rgba(255, 255, 255, 0.62);
    font-size: 18px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 21px 14px 0px 14px;

}
#direct-section .col-md-3{
     padding-right: 0;   padding-bottom: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 200px;

}
#programm-section .row.napr{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.wrap_grid_filter img{
    margin: 0 5px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}
i{
    font-size: 2.3rem;
    font-style: normal;
    color: lightgrey;
    margin-right: 1rem;
}

i:before{
    content: "\e9042";
}

#event-section {
   /*background: linear-gradient( rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),url('assets/images/event_back2.jpg');*/
   text-align: center;
    background-color: #ffffff;
   background-size: cover;
   padding-bottom: 55px;
   position: relative;

    background-attachment: fixed;
}
#event-section a{
  color: #000;
}
#event-section a:hover{
  color: #6b6767;
}
#event-section .owl-carousel .disabled{
   display: block;
}
#event-section .owl-carousel {
      margin: 0 auto;
   position: inherit;
    max-width: 1000px;
}
#event-section h2{
    font-size: 32px;
    font-family: "GothamProBold";
    color: #000;

    padding: 50px 37px 37px;
    margin: 0;
    text-transform: uppercase;
}
#event-section .row{
  max-width: 860px;
  margin: 0 auto;
}

 #event-section .event{
   background: #fff;
   text-align: left;
 }
 #event-section .event img{
     width: 100%;
    height: 100%;
     object-fit: cover;
 }
 #event-section .event  {
  }
  #event-section .event p{
     margin: 10px 0 0 10px;
   font-size: 24px;
 }
 #event-section .event span{
    margin: 5px 8px 7px 10px;
    display: block;
    font-size: 14px;
    padding-bottom: 8px;
 }

#event-section .event span.devider {
    display: inline;
    margin: 0 5px;
    padding: 0;
}

#event-section .cont_event{
     padding: 0 6px;

 }

#event-section .img_content{
    height: 150px;
    height: 280px;
    overflow: hidden;
       position: relative;
 }
 #event-section .img_content .city{
    position: absolute;
    background: #0a96d9;
    padding: 5px 5px 5px 26px;
    background-image: url(assets/images/flag.png);
    background-repeat: no-repeat;
    bottom: 0;
    font-size: 12px;
    color: #fff;
    background-position: 11px;
    left: 12px;
 }


 #kit-section h2{
    font-size: 36px;
    font-family: "GothamProBold";
    color: #fff;

    padding: 50px 37px 18px;
    margin: 0;
    text-transform: uppercase;
}




 #kit-section {
   background: url('assets/images/kit_back.jpg');
   text-align: center;
   background-size: cover;
   padding-bottom: 55px;

}
 #kit-section .row{
   max-width: 860px;
       position: relative;
       margin: 0 auto;
 }
 #kit-section .owl-carousel{
    padding-top: 25px;
      max-width: 680px;
        margin: 0 auto;
    position: initial;
}
 #kit-section .owl-carousel .disabled{
     display: block;
}
 #kit-section p{
       color: #fff;
        margin: 0 0 5px;
}
  #kit-section .cont_kit p{
       color: #000;

}

#kit-section .img_content{

    padding-top: 20px;

}

 #kit-section .cont_kit{
      background: #fff;
      color: #000;
          padding: 20px
}
#kit-section .cont_kit .price{
       color: #0ba5ed;
     font-family: "GothamProBlack";
    font-size: 18px;

}
#kit-section .cont_kit button{
    background: #ed3f1c;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0;
          margin-top: 9px;
}

#kit-section .cont_kit button:hover{

    background: #e03f1f;

}
#kit-section .cont_kit:hover p {

    color: #6f6f6f;
}
#kit-section .cont_kit button:focus{
    background: #ed3f1c;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0;

}


#press-section .img_content:hover {

        background: #ed3f1c;
}

#press-section .img_d {
    overflow:hidden;
 width: 100%;
 height:200px;
}

#press-section .img_d img {
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
 }

#press-section .img_d img:hover{
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 }








 #gid-section {

   background: url('assets/images/gid_back2.png');
     background-attachment: fixed;
   text-align: center;
   background-size: cover;
   padding-bottom: 55px;
    position: relative;
}
 #gid-section .owl-carousel{

    position: inherit;
}
 #gid-section .owl-carousel .disabled{
     display: block;
}
 #gid-section p{
       color: #fff;
        margin: 0 0 5px;
}
  #gid-section .cont_kit p{
       color: #fff;
        font-size: 12px;
}
  #gid-section h2{
      font-size: 28px;
    font-family: "GothamProBold";
    color: #fff;

    padding: 50px 37px 7px;
    margin: 0;
    text-transform: uppercase;

}

#gid-section .cont_kit{
    background: rgba(255, 255, 255, 0.52);

}
#gid-section .cont_kit img{

    width: 100%;

}
 .owl-nav img:hover{
       width: 110%;

}

#gid-section .row{
   max-width: 860px;
   margin: 0 auto;
     background: rgba(255, 255, 255, 0.49);
    padding: 32px;
}
#gid-section .img_content{
    background: #193458;
    color: #fff;
    padding: 46px;
    text-align: left;
    padding-left: 52px;
    padding-bottom: 21px;

}

#gid-section h3{
   margin-top: 0;
   margin-bottom: 18px;

}

#gid-section .exp{
    background: url('assets/images/cyt_gid.png');
    color: #069ae1;
    font-family: "GothamProItalic";
    margin-top: 15px;
    padding-left: 39px;
    background-repeat: no-repeat;
    background-position: 1px;

}
#gid-section .container{
    margin-top: 23px;


}
#gid-section .img_grid{
  overflow: hidden;
  padding: 0;

}
#gid-section .cont_grid{
   padding: 0;

}





 #review-section {
   background: url('assets/images/review_back.jpg');
     background-attachment: fixed;
 text-align: center;
   background-size: cover;
   padding-bottom: 55px;
    position: relative;
}
 #review-section .owl-carousel{

    max-width: 680px;
    position: initial;
    margin: 0 auto;
}
 #review-section .owl-carousel .disabled{
     display: block;
}
 #review-section .img_content p{
     text-align: left;
       color: #fff;
        margin: 0 0 5px;
        font-size: 12px;
            font-family: "GothamProItalic";

}
 #review-section .img_content h3{
     color: #fff;
     text-align: left;
         margin: 0;
    margin-bottom: 9px;
}

 #review-section .img_content2  {
   background: #fff;
    color: #000;
    font-size: 14px;
}
 #review-section .cont_review2 {
      padding: 15px;
    padding-top: 35px;
}
 #review-section .cont_review2 iframe {
     width: 100%;
     height: auto;

}
 #review-section .cont_review2 p {
        padding: 9px;

}

 #review-section .img_content  {
   background: #637690;
    padding: 20px;
    border-radius: 18px;
}
 #review-section .img_content:before  {
     border: 10px solid transparent;
    border-top: 10px solid #637690;
    border-right: 10px solid #637690;
    content: "";
    position: absolute;
    left: -20px;
}
 #review-section .img_content p.date  {
    top:  22px;
    font-size: 12px;
    position: absolute;
    right: 20px;
}
 #review-section  .review_im {
    top: 40px;
    position: absolute;
    right: 26%;
    z-index: 2;
}
 #review-section .review_im2{
    top: 30px;
    position: absolute;
    right: 0;
    z-index: 2;
    margin: 0 auto;
    left: -339px;
}
 #review-section .container{
    margin-top: 20px;
}


  #review-section .cont_kit p{
       color: #fff;
        font-size: 12px;
}
  #review-section h2{
      font-size: 28px;
    font-family: "GothamProBold";
    color: #fff;

    padding: 50px 37px 7px;
    margin: 0;
    text-transform: uppercase;

}
  #review-section .row{
       max-width: 860px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}







#press-section {
      padding-bottom: 45px;  background: #f0f0f0;
   text-align: center;
        position: relative;
    background-image: url("assets/images/background_blog.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#press-section h2{
    font-size: 28px;
    font-family: "GothamProBlack";
    color: #131313;

    padding: 50px 37px 37px;
    margin: 0;
    text-transform: uppercase;
}
#press-section .row{
  max-width: 860px;
    margin: 0 auto;
}
 #press-section .owl-carousel{
 position: initial;
}

#press-section .img_content{
    background: #069ae1;
    color: #fff;
    display: block;
    position: relative;
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.15);
}
#press-section .img_content .img_post{
    width: 100%
}

#press-section .img_content .logo{
    position: absolute;
    top: 38%;
    left: 0;
    width: auto;
}
#press-section .disabled{
   display: block;
}
#press-section .img_content h3{
    margin-top: 12px;
}
#press-section .img_content p{
       font-size: 12px; text-align: left;
    padding: 8px 9px 14px 27px;
}






#email-section {
       /*background: url('assets/images/email_back.jpg');*/
       background: url('assets/images/email_back.png');
    text-align: left;   background-size: cover;
      padding: 45px 0;
         position: relative;
}
#email-section h3{
     font-family: "GothamProBlack";
    color: #fff;
    font-size: 26px;
    line-height: 34px;     margin: 0;
    padding-top: 4px;
 }
#email-section .row{
  max-width: 860px;
    margin: 0 auto;
}

#email-section .input{
    padding: 9px 22px;
    background: #545454;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid white;
}
 #email-section .input::placeholder{
     color: #fff;
 }

 #email-section .submit-btn{
     width: 100%;
     height: 100%;
     font-size: 16px;
    background: #ed3f1c;
    padding: 11px 25px;
    text-transform: uppercase;
    color: #fff;
    font-family: "GothamProBold";
    border: none;
 }






#footer-section {
       /*background: url('assets/images/footer_back.jpg');*/
       background: url('assets/images/footer_back.png');
    background-size: cover;

    padding: 47px 0 19px;
    position: relative;
}
#footer-section h3{
     font-family: "GothamProBlack";
    color: #fff;
    font-size: 18px;
      letter-spacing: 1px;
     margin: 0;
 }
#footer-section .row{
  max-width: 860px;
    margin: 0 auto;
}

#footer-section .social img{
  margin: 5px;
}

#footer-section .phone{
    margin: 6px 0;
    color: #fff;
    display: flex;
    flex-direction: column;
}

#footer-section p{
      color: #fff;
    font-size: 12px;
    margin: 13px 0;
}

@media (min-width: 992px) {
    .footer_border {
        border-right: 1px solid rgba(255, 255, 255, 0.3);
    }

    .cal_bl {
        padding-top: 17px;
    }
}

#footer-section .top-right-menu li a{
   /*color: #898989;*/
   color: white;
   font-size: 15px;
   padding: 0 5px;
}
#footer-section .top-right-menu li a:hover{
   text-decoration: none;
   color: #fff;

}
#footer-section .top-right-menu li  {
   list-style-type: none;
   display: inline-block;


}

#footer-section .top-right-menu   {
   padding: 0;
   display: inline-block;

}

#footer-section .top-right-bottom  div {

   display: inline-block;


}
#footer-section .top-right-bottom  div a{
font-size: 20px;
     color: #fff;
    font-family: "GothamProBold";


}
#footer-section .top-right-bottom  div a:hover{

  text-decoration: none;

}

#footer-section .top-right-bottom  div a img{

    margin: 0 5px;

}






#contact-main   #map {
 min-height: 600px;
 height: 100%;

}
#contact-main  {
     position: relative;

}

#contact-main .contact-section{
    padding-bottom: 45px;
    position: absolute;
    z-index: 2;
    margin: 0 auto;
    text-align: center;
    left: 0;
    right: 0;
    padding-top: 7%;
    background: rgba(134, 134, 134, 0.45);
    height: 100%;
}
#contact-main .contact-section h2{
    font-size: 28px;
    font-family: "GothamProBlack";
    color: #131313;

    padding: 50px 37px 37px;
    margin: 0;
    text-transform: uppercase;
}
#contact-main .contact-section .row{
     background: #f7f7f7;
  max-width: 860px;
    margin: 0 auto;
        padding: 0 26px;
}

#contact-main .contact-section h3{
     font-family: "GothamProBlack";
}
#contact-main .contact-section span{
     font-family: "GothamProItalic";
     font-size: 12px;
}
#contact-main .contact-section p{
      font-size: 13px;
}

#contact-main .contact-section .social{
         padding: 26px 0px 0;
}

#contact-main .contact-section .social a{
         padding: 5px;
}

#contact-main .form_cont form br {
    display: none;
}

#contact-main .contact-section .name, #contact-main .contact-section .email{
       margin: 21px 0;      border: none;
    border-bottom: 1px solid #ccc;
    background: none;
    display: block;
    width: 100%;
    font-size: 14px;
    font-style: normal;
    font-family: 'GothamProRegular';
}
#contact-main .contact-section .name:focus, #contact-main .contact-section .email:focus{
     outline:none;
       border: none;
    border-bottom: 1px solid #1cbb88;

}

#contact-main .contact-section .submit{
     color: #fff;
     background: #1cbb88;
     padding: 10px 25px;
     text-transform: uppercase;
     border: none;
    margin-top: 20px;
    font-size: 14px;
}

#contact-main .contact-section textarea{
    height: 80px;
    border: 1px solid #ccc;
    background: none;
    display: block;
    width: 100%;
    font-size: 14px;
    font-style: normal  ;
    font-family: 'GothamProRegular';
}
#contact-main .contact-section textarea:focus{
  outline:none;

}
.form_cont {
     padding-right: 20px ;
        padding-left: 20px;
}

#contact-main .see_cart{
  cursor: pointer;
  text-align: center;
  color: #00a1ec;
  font-size: 13px;
  clear: both;
  margin-bottom: 15px;

}
#contact-main .see_cart img{

  margin-top: 8px;

}
#contact-main .see_contact{
  display: none;
    position: absolute;
       top: 58px;
    z-index: 2;
    left: 0;
        max-width: 680px;
    background: rgba(255, 255, 255, 0.81);
    margin: 0 auto;
    text-align: center;
    right: 0;
    padding: 14px;
    cursor: pointer;

}


#direct-section2 {
    padding-top: 50px;
        position: relative;

   background: url('assets/images/direct_back.jpg');
   text-align: center;
   background-size: cover;
}
#direct-section2 h2{
    font-size: 35px;
    font-family: "GothamProBold";
    color: #fff;

    padding: 50px 37px 37px;
    margin: 0;
    text-transform: uppercase;
}
#direct-section2 .row{
  /*max-width: 860px;*/
       margin: 0 auto;
}
#direct-section2 .col-md-3:last-child .img_content{
   border-right: none;

}
#direct-section2 .img_content{
    min-height: 54px;
    border-right: 1px solid rgba(255, 255, 255, 0.62);
    font-size: 17px;
    color: #fff;
    text-align: center;
    padding-bottom: 0;
       padding: 21px 9px 0px 9px;

}
#direct-section2 .col-md-3{
     padding-right: 0;   padding-bottom: 55px;

}
#direct-section2 .direct_bl span{

    font-size: 28px;
    font-family: "GothamProBlack";
    color: #fff;
    background: rgba(255, 255, 255, 0.49);
    border-radius: 35px;
    width: 50px;
    height: 50px;
    display: block;
    line-height: 50px;
    margin: 0 auto;
}
#direct-section2 .direct_bl  {

     padding-bottom: 15px;
}





#programm-section {
   background: url('assets/images/programm_back2.jpg');
   text-align: center;
   background-size: cover;
   padding-bottom: 55px;
   position: relative;
   padding-top: 27px;
}
#programm-section a{
  color: #000;
}
#programm-section a:hover{
  color: #6b6767;
}
#programm-section .owl-carousel .disabled{

}
#programm-section .owl-carousel {
      margin: 0 auto;
   position: inherit;  max-width: 860px;
}
#programm-section h2{
    font-size: 28px;
    font-family: "GothamProBold";
    color: #fff;

    padding: 50px 37px 37px;
    margin: 0;
    text-transform: uppercase;
}
#programm-section .row{
  max-width: 860px;
  margin: 0 auto;
}

 #programm-section .event{
   background: #fff;
   text-align: left;
 }
  #programm-section .event:hover{
     background: #ed3f1c;

  }
  #programm-section .event:hover a {
       color: #fff;

  }
  #slider-photos .owl-nav img {

      opacity: 0.6;
  }
   #slider-photos .owl-nav img:hover {
      width: 100%;
      opacity: 1;
  }
   #slider-photos .item {
        background: #fff;
  }
   #slider-photos .item img:hover {
        background: #fff;
            opacity: 0.75 !important;
                cursor: pointer;
  }




 #programm-section .event img{
     width: 100%;
height: 100%;
     object-fit: cover;
 }
 #programm-section .event  {
  }
  #programm-section .event p{
     margin: 10px 0 0 10px;
   font-size: 16px;
 }
 #programm-section .event span{
    margin: 5px 8px 7px 10px;
    /*display: block;*/
    font-size: 9px;
    padding-bottom: 8px;
 }

#programm-section .cont_event{
    padding: 3px 6px;

}

#programm-section .cont_event .event{
    padding: 3px;

}

#programm-section .img_content{
    height: 221px;
    overflow: hidden;
       position: relative;
 }
 #programm-section .img_content .city{
    position: absolute;
    background: #0a96d9;
    padding: 5px 5px 5px 26px;
    background-image: url(assets/images/flag.png);
    background-repeat: no-repeat;
    bottom: 0;
    font-size: 12px;
    color: #fff;
    background-position: 11px;
    left: 12px;
 }


 #programm-section .dotsCont div{
    background: #0d98d7;
    width: 28px;
    height: 28px;
    color: #fff;
    border-radius: 21px;
    line-height: 28px;
    font-size: 15px;
   font-family: "GothamProBold";
     cursor: pointer;
 }

 #programm-section .dotsCont div.active{

    background: #fff;
    width: 32px;
    height: 32px;
    color: #000;
    border-radius: 32px;
    line-height: 32px;


 }



#programm-section .row {
   margin: 0 auto;
       text-align: left;
   position: inherit;
   max-width: 860px;
       margin-bottom: 16px;
}

#programm-section .napr h3 {
   font-family: "GothamProBold";
    color: #fff;
    display: inline;
    font-size: 17px;
    padding: 0 9px;
}
#programm-section .napr a {
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #fff;
      padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
    margin: 0 2px;
}
#programm-section .napr a.active {
    color: #000;
   background: #fff;
   padding: 5px 10px 5px 10px;
   /*padding: 5px 16px 5px 10px;*/
    /*background-image: url('assets/images/cl.png');*/
   /*background-repeat: no-repeat;     background-position: 79px;*/
}
#programm-section .napr a:hover {
    color: #000;
   background: #fff;

}


 .programm_b_h {
padding: 85px 16px 40px 10px;
/*padding: 66px 16px 40px 10px;*/
    background-image: url('assets/images/programm_back_h2.png');
    background-repeat: no-repeat;
     background-attachment: fixed;
    background-size: cover;
    text-align: center;

}
 .programm_b_h h2{
    font-size: 28px;
    font-family: "GothamProBlack";
    color: #ffffff;

    padding: 50px 37px 37px;
    margin: 0;
    text-transform: uppercase;


}
 .programm_b_h form{
    max-width: 380px;
       margin: 0 auto;
}
 .programm_b_h form input{
    width: 49%;
    display: inline-block;
    background: #ebeff1;
    border: none;
       padding: 11px 9px;

}

 .programm_b_h form input.city{
    background-image: url(assets/images/programm_inp2.png);
    background-repeat: no-repeat;
    background-size: contain;
      background-position: right;
}

 .programm_b_h form input.date{
    background-image: url(assets/images/programm_inp1.png);
    background-repeat: no-repeat;
    background-size: contain;
      background-position: right;
}




#include-section {
     text-align: center;
    position: absolute;
    bottom: -180px;
    left: 0;
    right: 0;
       z-index: 2;
}

#include-section .row{
      background: #1cbb88;
  /*max-width: 860px;*/
       margin: 0 auto;
           box-shadow: 0 0 18px rgba(0,0,0,0.5)
}



.tabs{
	    width: 100%; display:inline-block;
}
.tabs > div{
	    padding: 34px 15px;
    overflow: hidden;
}
.tabs ul{
	margin:0px;
	padding:0px;
            width: 100%;
    overflow: hidden;
}

.tabs #tabs_p .col-md-4{
    padding: 0;
}
.tabs ul li{
    width: 50%;
    font-size: 28px;
       font-family: "GothamProBlack";
	margin:0px;
	padding:0px;
	cursor:pointer;
	display:block;
	float:left;
	padding:10px 15px;
	background: #8eddc4;
	color:#000;
        cursor: pointer;
}

.tabs ul li img{
    margin: 13px;
}
.tabs ul li.active, .tabs ul li.active:hover{
	background: #1cbb88;
	color:#000;
}
.tabs ul li:hover{
	background:#1cbb88;
}

.tabs p{
     font-size: 15px;      color: #3a3a3a;
    display: block;
    clear: both;
    text-align: left;
    font-family: "GothamProBold";
    overflow: hidden;
}
.tabs p img{


float: left;
    margin-right: 11px;
}


#dates-section {
    /*background: url(assets/images/dates_back.jpg);*/
    text-align: center;
    /*background-size: cover;*/
     position: relative;
    padding-top: 190px;
}
#dates-section .row{
   max-width: 860px;
   margin: 0 auto;
   position: relative;
       background: #fbaf5d;
}

#dates-section h2{
    font-size: 28px;
    font-family: "GothamProBlack";
    color: #000;

    padding: 50px 37px 37px;
    margin: 0;
    text-transform: uppercase;


}


#dates-section .date_block{
    background: #f7941d;
    color: #fff;
    padding: 12px;


}
 #dates-section .calendar_icon{
    position: absolute;
    bottom: 9px;
    right: 9px;


}

 #dates-section .date_block h3{
       margin: 4px 0;
}
 #dates-section .date_block span{
          font-size: 16px;

}

 #dates-section .date_tur{
   padding: 34px 0;


 }

 #dates-section .date_block a{
      display: block;
      color: #fff;    letter-spacing: 1px;
         opacity: 0.6;
          font-size: 12px;
}
 #dates-section .date_block a:hover{

    opacity: 1;
 }

#dates-section .date_block img{
    display: block;
    margin: 0 auto;
    opacity: 0.6;

}
#dates-section .date_block img:hover{

    opacity: 1

}
#dates-section .event_bl{
        padding: 50px 27px 28px 43px;

    background: #fbaf5d;
    text-align: left;
}
#dates-section .event_info h2{
    color: #fff;
    letter-spacing: 1px;
    text-transform: none;
    padding: 20px 0 16px 0;
}
#dates-section .event_info p{
    max-width: 80%;
    margin-bottom: 37px;
}
#dates-section .event_info .price{
   font-size: 28px;
       padding: 0;
}

#dates-section .event_info .book{
       text-align: right;
}

#dates-section .event_info .book a{
       color: #fff;
    text-transform: uppercase;
    background: #ed3f1c;
    padding: 12px;
    outline: none;
    line-height: 42px;    opacity: 0.8;
}
#dates-section .event_info .book a:hover{
        opacity: 1;
}

#dates-section .event_info .book a:after{
    content: '';
    position: absolute;
    right: -24px;
    top: 1px;
    border: 20px solid transparent;
    border-left: 19px solid #ed3f1c;
}
#dates-section .event_info .book a img{
    position: absolute;
    right: 6px;
    z-index: 1;
    top: 11px;
}

#dates-section .event_info .free_m{
         color: #fff;
    position: absolute;
    right: 24px;
    top: 20px;
}
#dates-section .event_info .free_m span{
    font-size: 22px;
    font-family: "GothamProBlack";
    color: #fff;
    background: rgba(255, 255, 255, 0.49);
    border-radius: 35px;
    width: 45px;
    height: 45px;
    display: inline-block;    line-height: 45px;
    margin: 0 auto;
    color: #ed3f1c;
    text-align: center;
    margin-left: 11px;
}




#call-section {
    /*background: url(assets/images/zvonok_back.png);*/
    text-align: center;
    /*background-size: cover;  /*background-size: cover;*/
    padding: 6% 0;
    position: relative;

}
#call-section .row{
   max-width: 680px;
   margin: 0 auto;
   position: relative;
       background: none;
}

#call-section h2{
    font-size: 32px;
    font-family: "GothamProBlack";
    color: #fff;

    padding: 50px 32px 0px;    margin: 0;
    text-transform: uppercase;


}

#call-section p{
    font-size: 15px;
     color: #fff;

      margin: 15px 0;


}

#call-section .submit-btn{
    background: #ed3f1c;
    padding: 11px 25px;
    text-transform: uppercase;
    color: #fff;
    font-family: "GothamProBold";
    border: none;
 }


 #call-section .submit-btn:hover{
       background: #dc3a1a;

 }
#call-section form{
       margin-top: 27px;
       display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }
#call-section form p{
    align-items: flex-start;
    display: flex;
    justify-content: center;
}
#call-section form p label{
   margin-bottom: 0;
    align-items: center;
    display: flex;
    justify-content: center;
}
#call-section form p input{
   width: 100%;
}
#call-section .telephone{
       background: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 9px 17px;
    width: 239px;
    margin-right: 34px;
    border: 1.5px solid white;
    color: black;
 }


#call-section .telephone::placeholder{

    color: #313131;
 }



#programm-tur-section {
    background: url(assets/images/programm_back-tur.jpg);
    text-align: center;
    background-size: cover;
    padding-bottom: 24px;
    position: relative;
 }
#programm-tur-section .row{
   max-width: 680px;
   margin: 0 auto;
   position: relative;
       background: none;
}

#programm-tur-section h2{
    font-size: 36px;
    font-family: "GothamProBlack";
    color: #fff;

    padding: 50px 32px 0px;    margin: 0;
    text-transform: uppercase;


}


#programm-tur-section p{
    font-size: 14px;
     color: #fff;

    padding: 20px;


}

.programm-tur-section-day-2 {
   background-image: url('assets/images/2-day_back.png') !important;
      background-size: cover;


}
/*#programm-tur-section-day-1 {*/
   /*background: url('assets/images/1-day_back.png');*/
   /*text-align: center; */
   /*background-size: cover;  */
   /*padding-bottom: 55px;*/
   /*position: relative;*/
/*}*/

.programm-tur-section-day{
    text-align: center;
    background-size: cover;
    padding-bottom: 55px;
    position: relative;
}
#programm-tur-section-day-1 a{
  color: #000;
}
#programm-tur-section-day-1 a:hover{
  color: #6b6767;
}

#programm-tur-section-day-1 #slider_event {
      margin: 0 auto;
   position: inherit;  max-width: 860px;
}
#programm-tur-section-day-1 h2{
    font-size: 28px;
    font-family: "GothamProBlack";
    color: #fff;

       padding: 50px 32px 45px;
  margin: 0;


}
#programm-tur-section-day-1 h2 span{
    font-size: 28px;
    font-family: "GothamProBlack";
    color: #fff;
    background: rgba(255, 255, 255, 0.49);
    border-radius: 35px;
    width: 50px;
    height: 50px;
    display: block;
    line-height: 50px;
    margin: 0 auto;
    text-align: center;

}

#programm-tur-section-day-1 .row{
  max-width: 860px;
  margin: 0 auto;
}

#programm-tur-section-day-1 .event{
   background: #fff;
   text-align: left;
 }
#programm-tur-section-day-1 .event img{
    height: 100%;
width: 100%;
    object-fit: cover;

}

#programm-tur-section-day-1 .event p{
    margin: 10px 0 0 15px;
    font-size: 18px;
}
#programm-tur-section-day-1 .event span{
margin: 5px 8px 7px 15px;
    display: block;
    font-size: 12px;
    padding-bottom: 13px;
 }

#programm-tur-section-day-1 .cont_event{
        padding: 10px 12px;


 }

#programm-tur-section-day-1 .img_content{
    height: 250px;
    overflow: hidden;
       position: relative;
 }
#programm-tur-section-day-1 .img_content .city{
      position: absolute;
    background: #00a1ec;
    padding: 8px 14px;
    bottom: 0;
    font-size: 16px;
    color: #fff;
    background-position: 11px;
    left: 12px;
 }
 #slider-photos .disabled{
     display: block;

 }

#ready-section .read{
  max-width: 680px;
       margin: 0 auto;
}

#ready-section {
   /*background: url('assets/images/ready_back.jpg');*/
    /*background-size: cover;*/
   padding: 55px 0;
   position: relative;
}
#ready-section .read h2{
    font-size: 36px;
    font-family: "GothamProBlack";
    color: #000;
   margin: 0;
       padding-bottom: 6px;

}

#ready-section .read p{
    font-size: 12px;
    font-family: "GothamProItalic";
    color: #3f3f3e;
   margin: 0;
}
#ready-section #include-section{
    position: relative !important;
    bottom: 0  !important;
}
#ready-section #dates-section{
    background: none  !important;
        padding-top: 5px;
}

#ready-section #dates-section h2{
   color: #fff;
}
.contact-section .cont_bl {

    border-right: 1px solid #ccc;   margin-bottom: 30px;
}
#tabs_p .tab-content {

    display: none;
}

#tabs_p  .current{
	 display: block;
}



#event-section .owl-prev, #event-section .owl-next{

    opacity: 0.5;
}

#event-section .owl-prev:hover, #event-section .owl-next:hover{

    opacity: 1;
}

#review-section .owl-prev:hover img, #review-section .owl-next:hover img{
      width: 125%;

}

  #kit-section .owl-prev:hover img, #kit-section .owl-next:hover img{
      width: 125%;

}
#kit-section .cont_kit button {
     display: block;
    margin: 0 auto;
}


@media (min-width: 600px) and (max-width: 991px)  {
    #review-section .img_content p {

            padding: 0 26px;
    }
    #programm-tur-section-day-1 .event img {
        width: 100%;
        height: auto;
    }
    #menu-header .logo {

         padding: 12px 0;
    }
    #menu-header .left_menu {

         padding:  0;


    }
    #menu-header  .top-right-button {

        margin-left: 0;
    }
     #menu-header  .afterp {

         padding:  0;
    }
     #menu-header  .container {

    }
    #gid-section .row {
        margin: 0;
        width: 100%;
    }
    #slider-section {
        padding-top: 115px;
    }

    #direct-section .col-md-3 {
        padding-right: 15px;
    }

    #direct-section .img_content {
        border-right: none;
    }

#kit-section .cont_kit button {
     display: block;
    margin: 0 auto;
}


    #email-section .input {
    margin: 20px auto;
     display: block;
}
#email-section .submit-btn {

        margin: 0 auto;
    display: block;
}

#email-section h3 {
    text-align: center;

}

.cal_bl {

    text-align: center;

}




}











@media (max-width:480px) {
      #review-section .img_content p {

            padding: 0 26px;
    }
    #slider-section {
  padding-top: 0 !important
    }
        #menu-header {
        position: relative;

    }
    #menu-header  .top-right-button{
  margin-left: 0px;

    }
#menu-header .social {
    display: block;
    text-align: center;
}

#menu-header .text-right {
    text-align: center;


}
#menu-header .top-right-menu {
   padding-left: 0;
   padding-top: 6px;
}
#menu-header  .top-right-bottom {
    padding-bottom: 7px;


}

#slider .content_slider h2 {
    font-size: 36px;

}
#slider .content_slider {
        top: 3%;
}

#direct-section .img_content {

    border-right: none;
}
#direct-section .col-md-3 {

        padding-right:  15px;
}
#kit-section .cont_kit button {
     display: block;
    margin: 0 auto;
}

#kit-section .owl-carousel .owl-item img {
        width: auto;
    margin: 0 auto;

}

#gid-section .row {
    padding: 0;

}

#email-section .input {
    margin: 20px auto;
     display: block;
}
#email-section .submit-btn {

        margin: 0 auto;
    display: block;
}

#email-section h3 {
    text-align: center;

}

#footer-section {
    text-align: center;

}
.contact-section .cont_bl {

    border-right: 0;
    margin-bottom: 30px;
}

.form_cont {
     padding-right: 0px ;
        padding-left: 0;
}
#contact-main .contact-section .submit {

    margin: 20px auto;
    display: block;
}

.programm_b_h {

        padding-top: 0px;
}

#programm-section .napr a {
    display: inline-block;
    margin: 3px 0;
}
#programm-section .napr a:first-child {
    display: inline-block;
    margin: 3px 0;
}

#programm-section .napr h3 {
padding: 0;
    display: block;
    margin-top: 0;

}


#programm-section .dotsCont div{
        margin: 0 5px;

}
#direct-section2 .img_content {
    border-right: 0;
}

#slider {
    position: relative;
}
#direct-section2 {

    padding-bottom: 15px;
}

#direct-section2 .direct_bl {
    padding-bottom: 0 !important
}

#include-section {
    position: relative;
    bottom: 0;
}

#dates-section {
    padding-top: 0;

}

#dates-section .event_info p {

    max-width: 100%;
}
#dates-section .event_bl {

        padding: 12px 27px 28px 43px;

}

#dates-section .event_info .free_m {
    top: 0;
    right: 0;
        position: relative;
    padding-bottom: 14px;
}
#dates-section .event_info .price {

    text-align: center;
}

#dates-section .event_info .book {
    text-align: center;
}

#dates-section .event_info .book a:after {
    display: none;
}

#dates-section .event_info .book a img {
     display: none;

}
#call-section {
    padding-top: 0;
        padding-bottom: 25px;
}

#call-section .telephone {
    margin-right: 0;
        margin-bottom: 11px;

}
#ready-section .read p {

    margin: 13px 0;
}
#review-section .img_content:before {
    display: none;
}
#review-section .owl-prev {

    left: 0
}
#review-section .owl-next {

    right: 0
}




}
.left_menu{
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
}

.swiper-container-tour-date>.swiper-pagination-bullets{
    right: 0;

}
.swiper-pagination-bullet-active{
  background:  #ed3f1c!important;
}

.swiper-button-prev1 , .swiper-button-next1 , .swiper-button-prev12 , .swiper-button-next12{
    outline: none;
}

.modal-backdrop{
    z-index: 15;
}
.modal-title-reservation{
    font-size: 28px;
    font-family: "GothamProBlack";
    color: #000;
    padding: 50px 37px 37px;
    margin: 0;
    text-transform: uppercase;
}
.modal-body-reservation{
     padding: 0;

 }
.modal-body-reservation button.close{
  margin: 1%;
color: #ed3f1c;
}
.modal-content-reservation{
    border-radius: 0;
}
.modal-dialog-reservation{
    top: 28%;
}
.wrap_includes{
    position: absolute;
    bottom: -23px;
    left: 0;
    right: 0;
    z-index: 2;
}
.swiper-container-gallery{

    width: 100%;
    max-height: 250px;
}


.swiper-container-gallery img.img_galery{
display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
}
.swiper-button-nextG{
    top: calc(50% - 22px);
    position: absolute;
    right: 20px;
    z-index: 2;
}
.swiper-container-gallery .swiper-slide{
    height: 100%;
}

.swiper-button-prevG{
    top: calc(50% - 22px);
position: absolute;
left: 20px;
z-index: 2}
.swiper-container-vertical>.swiper-pagination-bullets{
    right: 0;
}
.arrow_go{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50% , -50%);
}

#programm-section .container .row_posts{
    position: relative;
    padding-bottom: 50px;
}
.row_start_remove{

    height: 100vh ;
    position: relative;
}
.sk-cube-grid {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50% ,-22%);
    width: 40px;
    height: 40px;
    margin: 100px auto;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #333;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
          -webkit-transform: scale3D(0, 0, 1);
          transform: scale3D(0, 0, 1);
      }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
          -webkit-transform: scale3D(0, 0, 1);
          transform: scale3D(0, 0, 1);
      }
}
#programm-section .container .row_posts .cvf-pagination-nav{
    position: absolute;
bottom: 0;
    left: 50%;
   transform: translate(-50% , 0%);
}

.cvf-universal-pagination-pagin{
    display: flex;
    justify-content: center;
    align-items: center;
}
#programm-section .container .row_posts{

}
.pagin {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    width: 32px;
    height: 32px;
    color: #000;
    border-radius: 21px;
    font-size: 15px;
    font-family: "GothamProBold";
    cursor: pointer;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.2s all;
    margin: 0 20px;
}

.pagin.active {
    border-radius: 32px;
    line-height: 32px;
    background: #0d98d7;
    width: 28px;
    height: 28px;
    color: #fff;
    margin: 2px ;
}
.wrap_pagin{
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    width: 32px;
    height: 32px;
    border-radius: 21px;
}
.pagin.active:hover{
margin: 0;
/*margin: 0 20px;*/
}
.pagin:hover{
    width: 32px;
    height: 32px;
    color: #000;
    border-radius: 21px;
    color: #000;
    background: #fff;
}
.blog_news{

}
.row_blog_news{
    margin-top: -2%!important;
}

#calendar_page #programm-section #calendar tr.odd {
    background-color: rgba(255, 255, 255, 0.9);
}

#calendar_page #programm-section #calendar tr.even {
    background-color: white;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
}

#calendar_page #programm-section #calendar td,
#calendar_page #programm-section #calendar th {
    text-align: center;
}

#calendar_page #programm-section #calendar thead {
    background-color: #00a1ec;
}

#calendar_page #programm-section #calendar thead th {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}

#calendar_page #programm-section #calendar .tour_type {
    filter: brightness(0.4);
}

table.dataTable thead th, table.dataTable.no-footer,
table.dataTable thead th, table.dataTable tfoot td {
    border: none !important;
}

#afterparty{
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#afterparty .main_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
}

#afterparty .main_block span {
    color: white;
    line-height: 1;
}

#afterparty .main_block .page_heading {
    text-transform: uppercase;
    font-size: 90px;
    font-family: "GothamProBold";
    margin-bottom: 50px;
}

#afterparty .main_block .day_address {
    font-size: 24px;
    font-family: "GothamProLight";
    margin-bottom: 25px;
}

#afterparty .main_block .time {
    text-transform: uppercase;
    font-size: 60px;
    font-family: "GothamProBold";
    margin-bottom: 50px;
}

#afterparty .main_block .book_button {
    color: white !important;
    text-transform: uppercase;
    font-size: 19px;
    font-family: "GothamProRegular";
    display: block;
    border: 1px solid white;
    padding: 15.5px 81.6px;
    margin-bottom: 25px;
    cursor: pointer;
    user-select: none;
}

#afterparty .main_block .social_links {
    display: flex;
    justify-content: center;
    align-items: center;
}

#afterparty .main_block .social_links a {
    margin-right: 10px;
}

#afterparty .main_block .social_links a:last-child {
    margin: 0;
}

#afterparty_book .modal-dialog .modal-header {
    border: 0;
}

#afterparty_book .close:hover {
    opacity: 1;
}
#afterparty_book .close {
    color: white;
    opacity: 0.8;
    transition: 0.2s all;
}
#afterparty_book .modal-content {
    background-size: cover;
    border-radius: 0;
    color: white;
}
#afterparty_book .modal-dialog {
    top: 28%;
}

#afterparty_book form input {
    color: black;
    background: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 9px 17px;
}


#afterparty_book form > p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#single_post {
padding-top: 75px;
    background-image: url('assets/images/background_main_single_post.png');
    background-repeat: repeat;
}

#single_post .page_heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('assets/images/background_single_post.png');
}

#single_post .page_heading .post_date {
    font-size: 13px;
    color: white;
    font-family: 'GothamProLight';
    background-color: #1cbb88;
    padding: 8.5px 27.9px;
    margin: 30px 0 25px;
}

#single_post .page_heading .post_heading {
    font-size: 36px;
    color: white;
    font-family: 'GothamProBold';
    margin-bottom: 65px;
    max-width: 60%;
}

#single_post .content .container {
    background-color: white;
}

#single_post .content img.post_thumbnail {
    transform: translateY(-35px);
}

#single_post .content img {
    max-width: 100%;
}

#single_post p.post_content,
#single_post author.post_content {
    padding: 0 25px;
}

#single_post .post_content img {
    max-width: calc( 100% + 50px );
    width: calc( 100% + 50px );
    object-fit: cover;
    margin: auto;
    display: block;
    margin-left: -25px;
    height: auto;
}

#single_post .author {
    color: #848484;
    padding: 0 25px;
    margin-bottom: 85px;
    margin-top: 30px;
    font-size: 13px;
}

#single_post .author .name {
    font-style: italic;
    color: #212121;
    font-size: 14px;
}

.blog_news .row_blog_news .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog_news .row_blog_news .nav-links .next,
.blog_news .row_blog_news .nav-links .prev {
    display: none !important;
}

.blog_news .row_blog_news .nav-links .page-numbers.current {
    background: #fff !important;
    width: 32px;
    height: 32px;
    color: #000;
    border-radius: 32px;
    line-height: 32px;
    opacity: 1;
}

.blog_news .row_blog_news .nav-links .page-numbers {
    background: #0d98d7;
    width: 28px;
    height: 28px;
    color: #fff;
    border-radius: 21px;
    line-height: 28px;
    font-size: 15px;
    font-family: "GothamProBold";
    cursor: pointer;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.2s all;
    margin-right: 20px;
    display: block;
}
.blog_news .row_blog_news .nav-links .page-numbers:last-child {
    margin: 0;
}
.blog_news .row_blog_news .nav-links .page-numbers:hover {
    background-color: #ed3f1c;
    opacity: 1;
}


@keyframes lds-ellipsis3 {
    0%, 25% {
        left: 32px;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        left: 32px;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    75% {
        left: 100px;
    }
    100% {
        left: 168px;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-webkit-keyframes lds-ellipsis3 {
    0%, 25% {
        left: 32px;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        left: 32px;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    75% {
        left: 100px;
    }
    100% {
        left: 168px;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    25%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}
@-webkit-keyframes lds-ellipsis2 {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    25%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}
@keyframes lds-ellipsis {
    0% {
        left: 32px;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    25% {
        left: 32px;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        left: 100px;
    }
    75% {
        left: 168px;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        left: 168px;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}
@-webkit-keyframes lds-ellipsis {
    0% {
        left: 32px;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    25% {
        left: 32px;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        left: 100px;
    }
    75% {
        left: 168px;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        left: 168px;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}
.lds-ellipsis {
    position: relative;
}
.lds-ellipsis > div {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
}
.lds-ellipsis div > div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f00;
    position: absolute;
    top: 100px;
    left: 32px;
    -webkit-animation: lds-ellipsis 1s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
    animation: lds-ellipsis 1s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
}
.lds-ellipsis div:nth-child(1) div {
    -webkit-animation: lds-ellipsis2 1s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
    animation: lds-ellipsis2 1s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
    background: #8e8e93;
}
.lds-ellipsis div:nth-child(2) div {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
    background: #968707;
}
.lds-ellipsis div:nth-child(3) div {
    -webkit-animation-delay: -0.25s;
    animation-delay: -0.25s;
    background: #3e5920;
}
.lds-ellipsis div:nth-child(4) div {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    background: #1a343f;
}
.lds-ellipsis div:nth-child(5) div {
    -webkit-animation: lds-ellipsis3 1s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
    animation: lds-ellipsis3 1s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
    background: #8e8e93;
}
.lds-ellipsis {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}















.home_main_slider .item-video {
    height: 100%;
}

.owl-carousel .owl-video-play-icon {
    background-image: url("assets/images/play_icon.png");
    background-size: cover;
}

.home_main_slider iframe {
    width: 100%;
    height: 100vh;
}

    /*defolt*/
.flex{
    display: flex;
}

/*media*/
@media  (max-width: 768px)  {
    .container.flex.elem .row.flex{
        flex-direction: column;
    }
    #programm-section .row.napr .wrap_grid_filter{
        flex-basis: 100%;
        margin-top: 10px;
    }
    #programm-section .napr h3{
        padding: 0;
        width: 100%;
    }
}
@media  (max-width: 991px)  {
    .wrap_includes , #include-section{

        position: static;
    }
    #dates-section .row.flex{
       flex-direction: column;
    }
}


