/*
Theme Name: default
Theme URI: https://wordpress.org/themes/twentyseventeen/
Author: the WordPress team
Author URI: https://wordpress.org/
Description: Twenty Seventeen brings your site to life with header video and immersive featured images. With a focus on business sites, it features multiple sections on the front page as well as widgets, navigation and social menus, a logo, and more. Personalize its asymmetrical grid with a custom color scheme and showcase your multimedia content with post formats. Our default theme for 2017 works great in many languages, for any abilities, and on any device.
Version: 1.3
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: twentyseventeen
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/


body {
    font-family: "GothamProRegular" !important;
    
}

.b {
    
      font-family: "GothamProBold" !important;
}
a:hover {
    
    text-decoration: none !important;
}

#menu-header {
     background: #131313;
    
    
}
#menu-header .phone{
        opacity: 0.95;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    font-family: "GothamProBold";
        padding: 0px 17px;
}
#menu-header .phone a{
    color: #fff;
   
}
#menu-header .phone:hover{
   opacity: 1;
}

    
#menu-header .logo{
    padding: 12px;
    display: inline-block;
    
}

#menu-header .logo img{
         height: 35px;
    
}
#menu-header .social{
 
    display: inline-block;
    
}

#menu-header .social a{
     opacity: 0.80;
    padding: 0px 5px;
    
}

#menu-header .social a:hover{
     opacity: 1;
  
    
}



#menu-header .social a img{
 
    height: 16px;
    
}

#menu-header .top-right-menu li a{
   color: #898989;
   font-size: 12px;
   padding: 0 5px;
}
#menu-header .top-right-menu li a:hover{
   text-decoration: none;
   color: #fff;
 
}
#menu-header .top-right-menu li  {
   list-style-type: none;
   display: inline-block;
   
    
}

#menu-header .top-right-menu   {
   
   display: inline-block;
     
}

#menu-header .top-right-bottom  div {
   
   display: inline-block;
   
    
}
#menu-header .top-right-bottom  div a{
   
     color: #fff;
    font-family: "GothamProBold"; 
   
    
} 


#menu-header .top-right-bottom  div a:hover{
   
     color: #e6e6e6;
    
    
} 


#menu-header .top-right-bottom  div a:hover{
   
  text-decoration: none;
    
}

#menu-header .top-right-bottom  div a img{
   
    margin: 0 5px;
    
}

#menu-header  .top-right-button{
   color: #fff;
    font-family: "GothamProBold"; 
    background: #ed3f1c;
       display: block;
       padding: 20px 0;
    text-align: center;
    cursor: pointer;
        margin-left: 26px;
}
#menu-header  .top-right-button:hover{
  
    background: #e03f1f;
    
}





.dotsCont div {
    margin: 0 20px;
    display: inline-block;
    
}
.dotsCont div img:hover  {
    
   opacity: 1;
  cursor: pointer;
}
.dotsCont div.active img  {
   
   opacity: 1;
  
}
.dotsCont div img {
      width: 100px;   
   opacity: 0.5;
 
}
.dotsCont {
    position: absolute;
    z-index: 2;
     left: 0;
    right: 0;
    text-align: center;
}
#slider-section {
    padding-top: 60px;
    
}  
#slider .content_slider {
    position: absolute;
    color: #fff;
    text-align: center;
     left: 0;
    right: 0;
      top: calc(50% - 85px);
    z-index: 2;
}
#slider .content_slider h2{
     margin-top: 2px;
    letter-spacing: 4px;
    font-family: "GothamProBlack"; 
    font-size: 55px;
    text-transform: uppercase;
}
.bold {
    
        font-family: "GothamProBold"; 

    
}
.black {
    
        font-family: "GothamProBlack"; 

    
}

.owl-prev {
        top: calc(50% - 22px);
            position: absolute;
    left: 20px;
     z-index: 2;
}
.owl-next {
        top: calc(50% - 22px);
    position: absolute;
    right: 20px;
     z-index: 2;
}



#direct-section {
    background: #1cbb88;
   text-align: center; 
    
}
#direct-section h2{
    font-size: 28px;
    font-family: "GothamProBold";
    color: #fff;

    padding: 50px 37px 37px;
    margin: 0;
    text-transform: uppercase;
}
#direct-section .row{
  max-width: 860px;
       margin: 0 auto; 
}
#direct-section .col-md-3:last-child .img_content{
   border-right: none;   
    
} 
#direct-section .img_content{
    min-height: 54px;
    border-right: 1px solid rgba(255, 255, 255, 0.62);
    font-size: 12px;
    color: #fff;
    text-align: center;
    padding-bottom: 0;
    padding: 21px 14px 0px 14px;
    
}    
#direct-section .col-md-3{
     padding-right: 0;   padding-bottom: 55px;
    
}    


#event-section {
   background: url('/wp-content/themes/default/assets/images/event_back.jpg');
   text-align: center; 
   background-size: cover;  
   padding-bottom: 55px;
   position: relative;
   
    background-attachment: fixed;
}
#event-section a{
  color: #000;
}
#event-section a:hover{
  color: #6b6767;
}
#event-section .owl-carousel .disabled{
   display: block;
}
#event-section .owl-carousel {
      margin: 0 auto;
   position: inherit;  max-width: 860px;
}
#event-section h2{
    font-size: 28px;
    font-family: "GothamProBold";
    color: #fff;

    padding: 50px 37px 37px;
    margin: 0;
    text-transform: uppercase;
}
#event-section .row{
  max-width: 860px;
  margin: 0 auto; 
}

 #event-section .event{
   background: #fff;
   text-align: left;
 }
 #event-section .event img{
     width: 100%;
     
 }
 #event-section .event  {
  }
  #event-section .event p{
     margin: 10px 0 0 10px;
   font-size: 16px;
 }
 #event-section .event span{
    margin: 5px 8px 7px 10px;
    display: block;
    font-size: 9px;
    padding-bottom: 8px;
 }
 
#event-section .cont_event{
     padding: 0 6px;
     
 }
 
#event-section .img_content{
    height: 150px;
    overflow: hidden;
       position: relative;  
 }
 #event-section .img_content .city{
    position: absolute;
    background: #0a96d9;
    padding: 5px 5px 5px 26px;
    background-image: url(/wp-content/themes/default/assets/images/flag.png);
    background-repeat: no-repeat;
    bottom: 0;
    font-size: 12px;
    color: #fff;
    background-position: 11px;
    left: 12px;
 }
 

 #kit-section h2{
    font-size: 36px;
    font-family: "GothamProBold";
    color: #fff;

    padding: 50px 37px 18px;
    margin: 0;
    text-transform: uppercase;
}
 
 
 
 
 #kit-section {
   background: url('/wp-content/themes/default/assets/images/kit_back.jpg');
   text-align: center; 
   background-size: cover;  
   padding-bottom: 55px;

}
 #kit-section .row{
   max-width: 860px;
       position: relative; 
       margin: 0 auto; 
 }
 #kit-section .owl-carousel{
    padding-top: 25px;
      max-width: 680px;
        margin: 0 auto;
    position: initial;
}
 #kit-section .owl-carousel .disabled{
     display: block;
}
 #kit-section p{
       color: #fff;
        margin: 0 0 5px;
}
  #kit-section .cont_kit p{
       color: #000;
    
}

#kit-section .img_content{
   
    padding-top: 20px;
    
}    
 
 #kit-section .cont_kit{
      background: #fff;
      color: #000;  
          padding: 20px
}    
#kit-section .cont_kit .price{
       color: #0ba5ed;  
     font-family: "GothamProBlack";
    font-size: 18px;    
           
}    
#kit-section .cont_kit button{
    background: #ed3f1c;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0;   
          margin-top: 9px;     
}

#kit-section .cont_kit button:hover{
  
    background: #e03f1f;
    
}
#kit-section .cont_kit:hover p {
    
    color: #6f6f6f;
}
#kit-section .cont_kit button:focus{
    background: #ed3f1c;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0;   
           
}    
 

#press-section .img_content:hover {
    
        background: #ed3f1c;
}

#press-section .img_d {
    overflow:hidden;
 width: 100%;
 height:200px;
}

#press-section .img_d img {
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
 }
 
#press-section .img_d img:hover{
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 }







 
 #gid-section {
 
   background: url('/wp-content/themes/default/assets/images/gid_back.jpg');
     background-attachment: fixed;
   text-align: center; 
   background-size: cover;  
   padding-bottom: 55px;
    position: relative; 
}
 #gid-section .owl-carousel{
   
    position: inherit;
}
 #gid-section .owl-carousel .disabled{
     display: block;
}
 #gid-section p{
       color: #fff;
        margin: 0 0 5px;
}
  #gid-section .cont_kit p{
       color: #fff;
        font-size: 12px;
}
  #gid-section h2{
      font-size: 28px;
    font-family: "GothamProBold";
    color: #fff;

    padding: 50px 37px 7px;
    margin: 0;
    text-transform: uppercase;
    
}

#gid-section .cont_kit{
    background: rgba(255, 255, 255, 0.52);
    
}
#gid-section .cont_kit img{
   
    width: 100%;
     
}
 .owl-nav img:hover{
       width: 110%;
     
}

#gid-section .row{
   max-width: 860px;
   margin: 0 auto;
     background: rgba(255, 255, 255, 0.49);
    padding: 32px;   
}
#gid-section .img_content{
    background: #193458;
    color: #fff;
    padding: 46px;
    text-align: left;
    padding-left: 52px;
    padding-bottom: 21px;

}

#gid-section h3{
   margin-top: 0;
   margin-bottom: 18px;

}

#gid-section .exp{
    background: url('/wp-content/themes/default/assets/images/cyt_gid.png');
    color: #069ae1;
    font-family: "GothamProItalic";
    margin-top: 15px;
    padding-left: 39px;
    background-repeat: no-repeat;
    background-position: 1px;

}
#gid-section .container{
    margin-top: 23px;


}
#gid-section .img_grid{
  overflow: hidden;
  padding: 0;

}
#gid-section .cont_grid{
   padding: 0;

}




 
 #review-section {
   background: url('/wp-content/themes/default/assets/images/review_back.jpg');
     background-attachment: fixed;
 text-align: center; 
   background-size: cover;  
   padding-bottom: 55px;
    position: relative; 
}
 #review-section .owl-carousel{
   
    max-width: 680px;
    position: initial;
    margin: 0 auto;
}
 #review-section .owl-carousel .disabled{
     display: block;
}
 #review-section .img_content p{
     text-align: left;
       color: #fff;
        margin: 0 0 5px;
        font-size: 12px;
            font-family: "GothamProItalic";

}
 #review-section .img_content h3{
     color: #fff;
     text-align: left;
         margin: 0;
    margin-bottom: 9px;
}

 #review-section .img_content2  {
   background: #fff;
    color: #000;
    font-size: 14px;
}
 #review-section .cont_review2 {
      padding: 15px;
    padding-top: 35px;
}
 #review-section .cont_review2 iframe {
     width: 100%;
     height: auto;

}
 #review-section .cont_review2 p {
        padding: 9px;

}

 #review-section .img_content  {
   background: #637690;
    padding: 20px;
    border-radius: 18px;
}
 #review-section .img_content:before  {
     border: 10px solid transparent;
    border-top: 10px solid #637690;
    border-right: 10px solid #637690;
    content: "";
    position: absolute;
    left: -20px;
}
 #review-section .img_content p.date  {
    top:  22px;
    font-size: 12px;
    position: absolute;
    right: 20px;
}
 #review-section  .review_im {
    top: 40px;
    position: absolute;
    right: 26%;
    z-index: 2;
}
 #review-section .review_im2{
    top: 30px;
    position: absolute;
    right: 0;
    z-index: 2;
    margin: 0 auto;
    left: -339px;
}
 #review-section .container{
    margin-top: 20px;
}  


  #review-section .cont_kit p{
       color: #fff;
        font-size: 12px;
}
  #review-section h2{
      font-size: 28px;
    font-family: "GothamProBold";
    color: #fff;

    padding: 50px 37px 7px;
    margin: 0;
    text-transform: uppercase;
    
}
  #review-section .row{
       max-width: 860px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}







#press-section {
      padding-bottom: 45px;  background: #f0f0f0;
   text-align: center; 
        position: relative;
}
#press-section h2{
    font-size: 28px;
    font-family: "GothamProBlack";
    color: #131313;

    padding: 50px 37px 37px;
    margin: 0;
    text-transform: uppercase;
}
#press-section .row{
  max-width: 860px;
    margin: 0 auto; 
}
 #press-section .owl-carousel{
 position: initial;
}
 
#press-section .img_content{
    background: #069ae1;
    color: #fff;
    
    position: relative;
}    
#press-section .img_content .img_post{
    width: 100%
}    
   
#press-section .img_content .logo{
    position: absolute;
    top: 38%;
    left: 0;
    width: auto;
}    
#press-section .disabled{
   display: block;
}     
#press-section .img_content h3{
    margin-top: 12px;
}    
#press-section .img_content p{
       font-size: 12px; text-align: left;
    padding: 8px 9px 14px 27px;
}    
   





#email-section {
       background: url('/wp-content/themes/default/assets/images/email_back.jpg');
    text-align: left;   background-size: cover;  
      padding: 45px 0;   
         position: relative;
}
#email-section h3{
     font-family: "GothamProBlack";
    color: #fff;
    font-size: 21px;
    line-height: 34px;     margin: 0;
 }
#email-section .row{
  max-width: 860px;
    margin: 0 auto; 
}
  
#email-section .input{
    padding: 9px 22px;
    background: #545454;
    color: #fff;
    border: none;
}
 #email-section .input::placeholder{
     color: #fff;
 }
  
 #email-section .submit-btn{
     width: 100%;
    background: #ed3f1c;
    padding: 9px 25px;
    text-transform: uppercase;
    color: #fff;
    font-family: "GothamProBold";
    border: none;
 }
  


 
 
 
#footer-section {
       background: url('/wp-content/themes/default/assets/images/footer_back.jpg');
    background-size: cover;  

    padding: 30px 0 19px;
    position: relative;
}
#footer-section h3{
     font-family: "GothamProBlack";
    color: #fff;
    font-size: 18px;
      letter-spacing: 1px;
     margin: 0;
 }
#footer-section .row{
  max-width: 860px;
    margin: 0 auto; 
}
  
#footer-section .social img{
  margin: 5px;
}
 
#footer-section .phone{
    margin: 6px 0;
    color: #fff;
}

#footer-section p{
      color: #fff;
    font-size: 12px;
    margin: 13px 0;
}



#footer-section .top-right-menu li a{
   color: #898989;
   font-size: 12px;
   padding: 0 5px;
}
#footer-section .top-right-menu li a:hover{
   text-decoration: none;
   color: #fff;
 
}
#footer-section .top-right-menu li  {
   list-style-type: none;
   display: inline-block;
   
    
}

#footer-section .top-right-menu   {
   padding: 0;
   display: inline-block;
     
}

#footer-section .top-right-bottom  div {
   
   display: inline-block;
   
    
}
#footer-section .top-right-bottom  div a{
   
     color: #fff;
    font-family: "GothamProBold"; 
   
    
} 
#footer-section .top-right-bottom  div a:hover{
   
  text-decoration: none;
    
}

#footer-section .top-right-bottom  div a img{
   
    margin: 0 5px;
    
}






#contact-main   #map {
 min-height: 600px;
 height: 100%;

}
#contact-main  {
     position: relative;
 
}

#contact-main .contact-section{
    padding-bottom: 45px;
    position: absolute;
    z-index: 2;
    margin: 0 auto;
    text-align: center;
    left: 0;
    right: 0;
    padding-top: 7%;
    background: rgba(134, 134, 134, 0.45);
    height: 100%;
}
#contact-main .contact-section h2{
    font-size: 28px;
    font-family: "GothamProBlack";
    color: #131313;

    padding: 50px 37px 37px;
    margin: 0;
    text-transform: uppercase;
}
#contact-main .contact-section .row{
     background: #f7f7f7;
  max-width: 860px;
    margin: 0 auto; 
        padding: 0 26px;
}

#contact-main .contact-section h3{
     font-family: "GothamProBlack";
}
#contact-main .contact-section span{
     font-family: "GothamProItalic";
     font-size: 12px;
}
#contact-main .contact-section p{
      font-size: 13px;
}

#contact-main .contact-section .social{
         padding: 26px 0px 0;
}  

#contact-main .contact-section .social a{
         padding: 5px;
}  



#contact-main .contact-section .name, #contact-main .contact-section .email{
       margin: 21px 0;      border: none;
    border-bottom: 1px solid #ccc;
    background: none;
    display: block;
    width: 100%;
} 
#contact-main .contact-section .name:focus, #contact-main .contact-section .email:focus{
     outline:none;    
       border: none;
    border-bottom: 1px solid #1cbb88;
    
}  

#contact-main .contact-section .submit{
     color: #fff;
     background: #1cbb88;
     padding: 10px 25px;
     text-transform: uppercase;
     border: none;
    margin-top: 20px;
    
}  

#contact-main .contact-section textarea{
    height: 80px;
    border: 1px solid #ccc;
    background: none;
    display: block;
    width: 100%;
} 
#contact-main .contact-section textarea:focus{
  outline:none;   
     
} 
.form_cont {
     padding-right: 20px ;
        padding-left: 20px;
}

#contact-main .see_cart{
  cursor: pointer;
  text-align: center;
  color: #00a1ec;
  font-size: 13px;
  clear: both;
  margin-bottom: 15px;
     
} 
#contact-main .see_cart img{
 
  margin-top: 8px;
     
} 
#contact-main .see_contact{
  display: none;
    position: absolute;
       top: 58px;
    z-index: 2;
    left: 0;
        max-width: 680px;
    background: rgba(255, 255, 255, 0.81);
    margin: 0 auto;
    text-align: center;
    right: 0;
    padding: 14px;
    cursor: pointer;
     
} 


#direct-section2 {
        position: relative;

   background: url('/wp-content/themes/default/assets/images/direct_back.jpg');
   text-align: center; 
   background-size: cover; 
}
#direct-section2 h2{
    font-size: 28px;
    font-family: "GothamProBold";
    color: #fff;

    padding: 50px 37px 37px;
    margin: 0;
    text-transform: uppercase;
}
#direct-section2 .row{
  max-width: 860px;
       margin: 0 auto; 
}
#direct-section2 .col-md-3:last-child .img_content{
   border-right: none;   
    
} 
#direct-section2 .img_content{
    min-height: 54px;
    border-right: 1px solid rgba(255, 255, 255, 0.62);
    font-size: 12px;
    color: #fff;
    text-align: center;
    padding-bottom: 0;
       padding: 21px 9px 0px 9px;
    
}    
#direct-section2 .col-md-3{
     padding-right: 0;   padding-bottom: 55px;
    
}    
#direct-section2 .direct_bl span{
    
    font-size: 28px;
    font-family: "GothamProBlack";
    color: #fff;
    background: rgba(255, 255, 255, 0.49);
    border-radius: 35px;
    width: 50px;
    height: 50px;
    display: block;
    line-height: 50px;
    margin: 0 auto;
}
#direct-section2 .direct_bl  {
    
     padding-bottom: 15px;
}





#programm-section {
   background: url('/wp-content/themes/default/assets/images/programm_back.jpg');
   text-align: center; 
   background-size: cover;  
   padding-bottom: 55px;
   position: relative;
   padding-top: 27px;
}
#programm-section a{
  color: #000;
}
#programm-section a:hover{
  color: #6b6767;
}
#programm-section .owl-carousel .disabled{
    
}
#programm-section .owl-carousel {
      margin: 0 auto;
   position: inherit;  max-width: 860px;
}
#programm-section h2{
    font-size: 28px;
    font-family: "GothamProBold";
    color: #fff;

    padding: 50px 37px 37px;
    margin: 0;
    text-transform: uppercase;
}
#programm-section .row{
  max-width: 860px;
  margin: 0 auto; 
}

 #programm-section .event{
   background: #fff;
   text-align: left;
 }
  #programm-section .event:hover{
     background: #ed3f1c;
    
  }
  #programm-section .event:hover a {
       color: #fff;
      
  }
  #slider-photos .owl-nav img {
      
      opacity: 0.6;
  }
   #slider-photos .owl-nav img:hover {
      width: 100%;
      opacity: 1;
  } 
   #slider-photos .item {
        background: #fff;
  } 
   #slider-photos .item img:hover {
        background: #fff;
            opacity: 0.75 !important;
                cursor: pointer;
  } 
  
  
  
  
 #programm-section .event img{
     width: 100%;
     
 }
 #programm-section .event  {
  }
  #programm-section .event p{
     margin: 10px 0 0 10px;
   font-size: 16px;
 }
 #programm-section .event span{
    margin: 5px 8px 7px 10px;
    display: block;
    font-size: 9px;
    padding-bottom: 8px;
 }
 
#programm-section .cont_event{
    padding: 3px 6px;
     
}
 
#programm-section .img_content{
    height: 150px;
    overflow: hidden;
       position: relative;  
 }
 #programm-section .img_content .city{
    position: absolute;
    background: #0a96d9;
    padding: 5px 5px 5px 26px;
    background-image: url(/wp-content/themes/default/assets/images/flag.png);
    background-repeat: no-repeat;
    bottom: 0;
    font-size: 12px;
    color: #fff;
    background-position: 11px;
    left: 12px;
 }
 
 
 #programm-section .dotsCont div{
    background: #0d98d7;
    width: 28px;
    height: 28px;
    color: #fff;
    border-radius: 21px;
    line-height: 28px;
    font-size: 15px;
   font-family: "GothamProBold";
     cursor: pointer;
 }

 #programm-section .dotsCont div.active{
     
    background: #fff;
    width: 32px;
    height: 32px;
    color: #000;
    border-radius: 32px;
    line-height: 32px;
     
     
 }


 
#programm-section .row {
   margin: 0 auto;
       text-align: left;
   position: inherit;  
   max-width: 860px;
       margin-bottom: 16px;
}

#programm-section .napr h3 {
   font-family: "GothamProBold";
    color: #fff;
    display: inline;
    font-size: 17px;
    padding: 0 9px;
}
#programm-section .napr a {
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #fff;
      padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
    margin: 0 2px;
}
#programm-section .napr a.active {
    color: #000;
   background: #fff;
   padding: 5px 16px 5px 10px;
    background-image: url(/wp-content/themes/default/assets/images/cl.png);
   background-repeat: no-repeat;     background-position: 79px;
}
#programm-section .napr a:hover {
    color: #000;
   background: #fff;
    
}


 .programm_b_h {
padding: 66px 16px 40px 10px;
    background-image: url(/wp-content/themes/default/assets/images/programm_back_h.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
   
}
 .programm_b_h h2{
    font-size: 28px;
    font-family: "GothamProBlack";
    color: #ffffff;

    padding: 50px 37px 37px;
    margin: 0;
    text-transform: uppercase;
   
   
}
 .programm_b_h form{
    max-width: 380px;
       margin: 0 auto;
}
 .programm_b_h form input{
    width: 49%;
    display: inline-block;
    background: #ebeff1;
    border: none;
       padding: 11px 9px;
   
}

 .programm_b_h form input.city{
    background-image: url(/wp-content/themes/default/assets/images/programm_inp2.png);
    background-repeat: no-repeat;
    background-size: contain;
      background-position: right; 
}

 .programm_b_h form input.date{
    background-image: url(/wp-content/themes/default/assets/images/programm_inp1.png);
    background-repeat: no-repeat;
    background-size: contain;
      background-position: right; 
}




#include-section {
     text-align: center;
    position: absolute;
    bottom: -180px;
    left: 0;
    right: 0;
       z-index: 2; 
}
 
#include-section .row{
      background: #1cbb88;
  max-width: 860px;
       margin: 0 auto; 
           box-shadow: 0 0 18px rgba(0,0,0,0.5)
}
 


.tabs{
	    width: 100%; display:inline-block;
}
.tabs > div{
	    padding: 34px 15px;
    overflow: hidden;
}
.tabs ul{
	margin:0px;
	padding:0px;
            width: 100%;
    overflow: hidden;
}
 
.tabs ul li{
            width: 50%;
    font-size: 26px;
       font-family: "GothamProBlack";
	margin:0px;
	padding:0px;
	cursor:pointer;
	display:block;
	float:left;
	padding:10px 15px;
	background: #8eddc4;
	color:#000;
        cursor: pointer;
}

.tabs ul li img{
    margin: 13px;
}
.tabs ul li.active, .tabs ul li.active:hover{
	background: #1cbb88;
	color:#000;
}
.tabs ul li:hover{
	background:#1cbb88;
}

.tabs p{
     font-size: 12px;      color: #3a3a3a;
    display: block;
    clear: both;
    text-align: left;
    font-family: "GothamProBold";
    overflow: hidden;
}
.tabs p img{
    

float: left;
    margin-right: 11px;
}


#dates-section {
    background: url(/wp-content/themes/default/assets/images/dates_back.jpg);
    text-align: center;
    background-size: cover;
     position: relative;
    padding-top: 190px;
}
#dates-section .row{
   max-width: 860px;
   margin: 0 auto;
   position: relative;
       background: #fbaf5d;
}

#dates-section h2{
    font-size: 28px;
    font-family: "GothamProBlack";
    color: #000;

    padding: 50px 37px 37px;
    margin: 0;
    text-transform: uppercase;
   
   
}


#dates-section .date_block{
    background: #f7941d;
    color: #fff;
    padding: 12px;
   
   
}
 #dates-section .calendar_icon{
    position: absolute;
    bottom: 9px;
    right: 9px;
   
   
}  

 #dates-section .date_block h3{
       margin: 4px 0;
}  
 #dates-section .date_block span{
          font-size: 16px;

}  

 #dates-section .date_tur{
   padding: 34px 0;
 
 
 }  

 #dates-section .date_block a{
      display: block;
      color: #fff;    letter-spacing: 1px;
         opacity: 0.6;
          font-size: 12px;
}
 #dates-section .date_block a:hover{
  
    opacity: 1;
 }

#dates-section .date_block img{
    display: block;
    margin: 0 auto;
    opacity: 0.6;
        
}  
#dates-section .date_block img:hover{
  
    opacity: 1
        
}  
#dates-section .event_bl{
        padding: 50px 27px 28px 43px;

    background: #fbaf5d;
    text-align: left;
}  
#dates-section .event_info h2{
    color: #fff;
    letter-spacing: 1px;
    text-transform: none;
    padding: 0 0 16px 0;
}  
#dates-section .event_info p{
    max-width: 80%;
    margin-bottom: 37px;
}  
#dates-section .event_info .price{
   font-size: 28px;
       padding: 0;
}  

#dates-section .event_info .book{
       text-align: right;
}  

#dates-section .event_info .book a{
       color: #fff;
    text-transform: uppercase;
    background: #ed3f1c;
    padding: 12px;
    line-height: 42px;    opacity: 0.8;
}  
#dates-section .event_info .book a:hover{
        opacity: 1;
}  

#dates-section .event_info .book a:after{
    content: '';
    position: absolute;
    right: -24px;
    top: 1px;
    border: 20px solid transparent;
    border-left: 19px solid #ed3f1c;
}  
#dates-section .event_info .book a img{
    position: absolute;
    right: 6px;
    z-index: 1;
    top: 11px;
}  

#dates-section .event_info .free_m{
         color: #fff;
    position: absolute;
    right: 24px;
    top: 20px;
}  
#dates-section .event_info .free_m span{
    font-size: 22px;
    font-family: "GothamProBlack";
    color: #fff;
    background: rgba(255, 255, 255, 0.49);
    border-radius: 35px;
    width: 45px;
    height: 45px;
    display: inline-block;    line-height: 45px;
    margin: 0 auto;
    color: #ed3f1c;
    text-align: center;
    margin-left: 11px;
} 




#call-section {
    background: url(/wp-content/themes/default/assets/images/zvonok_back.png);
    text-align: center;
    background-size: cover;
    padding-bottom: 62px;
    position: relative;
    padding-top: 75px;
}
#call-section .row{
   max-width: 680px;
   margin: 0 auto;
   position: relative;
       background: none;
}

#call-section h2{
    font-size: 28px;
    font-family: "GothamProBlack";
    color: #fff;

    padding: 50px 32px 0px;    margin: 0;
    text-transform: uppercase;
   
   
}

#call-section p{
    font-size: 12px;
     color: #fff;

      margin: 15px 0;
    
   
}

#call-section .submit-btn{
    background: #ed3f1c;
    padding: 9px 25px;
    text-transform: uppercase;
    color: #fff;
    font-family: "GothamProBold";
    border: none;
 }
 
 
 #call-section .submit-btn:hover{
       background: #dc3a1a;

 }
#call-section form{
       margin-top: 27px;
       display: flex;
    justify-content: center;
 }
#call-section form p{
 align-items: center;
    display: flex;
    justify-content: center;
}
#call-section form p label{
   margin-bottom: 0;
    align-items: center;
    display: flex;
    justify-content: center;
}
#call-section form p input{
   width: 100%;
}
#call-section .telephone{
       background: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 9px 17px;
    width: 239px;
    margin-right: 34px;
 }

 

#programm-tur-section {
    background: url(/wp-content/themes/default/assets/images/programm_back-tur.jpg);
    text-align: center;
    background-size: cover;
    padding-bottom: 24px;
    position: relative;
 }
#programm-tur-section .row{
   max-width: 680px;
   margin: 0 auto;
   position: relative;
       background: none;
}

#programm-tur-section h2{
    font-size: 36px;
    font-family: "GothamProBlack";
    color: #fff;

    padding: 50px 32px 0px;    margin: 0;
    text-transform: uppercase;
   
   
}
 
  
#programm-tur-section p{
    font-size: 14px;
     color: #fff;

    padding: 20px;   
   
   
}

.programm-tur-section-day-2 {
   background-image: url('/wp-content/themes/default/assets/images/2-day_back.png') !important;
      background-size: cover;  

 
}
#programm-tur-section-day-1 {
   background: url('/wp-content/themes/default/assets/images/1-day_back.png');
   text-align: center; 
   background-size: cover;  
   padding-bottom: 55px;
   position: relative;
}
#programm-tur-section-day-1 a{
  color: #000;
}
#programm-tur-section-day-1 a:hover{
  color: #6b6767;
}
 
#programm-tur-section-day-1 #slider_event {
      margin: 0 auto;
   position: inherit;  max-width: 860px;
}
#programm-tur-section-day-1 h2{
    font-size: 28px;
    font-family: "GothamProBlack";
    color: #fff;

       padding: 50px 32px 45px;
  margin: 0;
    
   
}
#programm-tur-section-day-1 h2 span{
    font-size: 28px;
    font-family: "GothamProBlack";
    color: #fff;
    background: rgba(255, 255, 255, 0.49);
    border-radius: 35px;
    width: 50px;
    height: 50px;
    display: block;
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
   
}

#programm-tur-section-day-1 .row{
  max-width: 860px;
  margin: 0 auto; 
}

#programm-tur-section-day-1 .event{
   background: #fff;
   text-align: left;
 }
#programm-tur-section-day-1 .event img{
        height: 100%;

     
}

#programm-tur-section-day-1 .event p{
    margin: 10px 0 0 15px;
    font-size: 18px;
}
#programm-tur-section-day-1 .event span{
margin: 5px 8px 7px 15px;
    display: block;
    font-size: 12px;
    padding-bottom: 13px;
 }
 
#programm-tur-section-day-1 .cont_event{
        padding: 10px 12px;

     
 }
 
#programm-tur-section-day-1 .img_content{
    height: 250px;
    overflow: hidden;
       position: relative;  
 }
#programm-tur-section-day-1 .img_content .city{
      position: absolute;
    background: #00a1ec;
    padding: 8px 14px;
    bottom: 0;
    font-size: 16px;
    color: #fff;
    background-position: 11px;
    left: 12px;
 }
 #slider-photos .disabled{
     display: block;
     
 }

#ready-section .read{
  max-width: 680px;
       margin: 0 auto; 
}

#ready-section {
   background: url('/wp-content/themes/default/assets/images/ready_back.jpg');
    background-size: cover;  
   padding: 55px 0;
   position: relative;
}
#ready-section .read h2{
    font-size: 36px;
    font-family: "GothamProBlack";
    color: #000;
   margin: 0;
       padding-bottom: 6px;

}

#ready-section .read p{
    font-size: 12px;
    font-family: "GothamProItalic";
    color: #3f3f3e;
   margin: 0;
}
#ready-section #include-section{
    position: relative !important;
    bottom: 0  !important;
}
#ready-section #dates-section{
    background: none  !important;
        padding-top: 5px;
}

#ready-section #dates-section h2{
   color: #fff;
}
.contact-section .cont_bl {
    
    border-right: 1px solid #ccc;   margin-bottom: 30px;
}
#tabs_p .tab-content {
    
    display: none;
}

#tabs_p  .current{
	 display: block;
}



#event-section .owl-prev, #event-section .owl-next{
    
    opacity: 0.5;
}

#event-section .owl-prev:hover, #event-section .owl-next:hover{
    
    opacity: 1;
}

#review-section .owl-prev:hover img, #review-section .owl-next:hover img{
      width: 125%;
     
}

  #kit-section .owl-prev:hover img, #kit-section .owl-next:hover img{
      width: 125%;
     
}
#kit-section .cont_kit button {
     display: block;
    margin: 0 auto;
}
 

@media (min-width: 600px) and (max-width: 991px)  {
    #review-section .img_content p {
        
            padding: 0 26px;
    } 
    #programm-tur-section-day-1 .event img {
        width: 100%;
        height: auto;
    }
    #menu-header .logo {
        
         padding: 12px 0;
    }  
    #menu-header .left_menu {
        
         padding:  0;
    }  
    #menu-header  .top-right-button {
        
        margin-left: 0;
    }
     #menu-header  .afterp {
        
         padding:  0;
    }   
     #menu-header  .container {
       
    }   
    #gid-section .row {
        margin: 0;
        width: 100%;
    }
    #slider-section {
        padding-top: 115px;
    }
    
    #direct-section .col-md-3 {
        padding-right: 15px; 
    }
    
    #direct-section .img_content {
        border-right: none;
    }
    
#kit-section .cont_kit button {
     display: block;
    margin: 0 auto;
}
    
    #email-section .input {
    margin: 20px auto;
     display: block;
}
#email-section .submit-btn {
    
        margin: 0 auto;
    display: block;
}

#email-section h3 {
    text-align: center;
    
}

.cal_bl {
    
    text-align: center;
    
}

    
    
    
}











@media (max-width:480px) {
      #review-section .img_content p {
        
            padding: 0 26px;
    } 
    #slider-section {
  padding-top: 0 !important        
    }
        #menu-header {
        position: relative;
        
    }
    #menu-header  .top-right-button{
  margin-left: 0px;
        
    }
#menu-header .social {
    display: block;
    text-align: center;
}

#menu-header .text-right {
    text-align: center;
    
    
}    
#menu-header .top-right-menu {
   padding-left: 0;
   padding-top: 6px;
}  
#menu-header  .top-right-bottom {
    padding-bottom: 7px;
    
    
}

#slider .content_slider h2 {
    font-size: 36px;
    
}
#slider .content_slider {
        top: 3%;
}

#direct-section .img_content {
    
    border-right: none;
}
#direct-section .col-md-3 {
    
        padding-right:  15px;
}
#kit-section .cont_kit button {
     display: block;
    margin: 0 auto;
}

#kit-section .owl-carousel .owl-item img {
        width: auto;
    margin: 0 auto;
    
}

#gid-section .row {
    padding: 0;
    
}

#email-section .input {
    margin: 20px auto;
     display: block;
}
#email-section .submit-btn {
    
        margin: 0 auto;
    display: block;
}

#email-section h3 {
    text-align: center;
    
}

#footer-section {
    text-align: center;
    
}
.contact-section .cont_bl {
    
    border-right: 0;   
    margin-bottom: 30px;
}

.form_cont {
     padding-right: 0px ;
        padding-left: 0;
}
#contact-main .contact-section .submit {
 
    margin: 20px auto;
    display: block;
}

.programm_b_h {
    
        padding-top: 0px;
}

#programm-section .napr a {
    display: inline-block;
    margin: 3px 0;
}
#programm-section .napr a:first-child {
    display: inline-block;
    margin: 3px 0;
}

#programm-section .napr h3 {
padding: 0;
    display: block;
    margin-top: 0;

}   


#programm-section .dotsCont div{
        margin: 0 5px;
    
}
#direct-section2 .img_content {
    border-right: 0;
}

#slider {
    position: relative;
}
#direct-section2 {
    
    padding-bottom: 15px;
}

#direct-section2 .direct_bl {
    padding-bottom: 0 !important
}

#include-section {
    position: relative;
    bottom: 0;
}

#dates-section {
    padding-top: 0;
    
}

#dates-section .event_info p {
    
    max-width: 100%;
}
#dates-section .event_bl {
    
        padding: 12px 27px 28px 43px;

}

#dates-section .event_info .free_m {
    top: 0;
    right: 0;
        position: relative;
    padding-bottom: 14px;
}
#dates-section .event_info .price {
 
    text-align: center;
}

#dates-section .event_info .book {
    text-align: center;
}

#dates-section .event_info .book a:after {
    display: none;
}

#dates-section .event_info .book a img {
     display: none;
    
}
#call-section {
    padding-top: 0;
        padding-bottom: 25px;
}

#call-section .telephone {
    margin-right: 0;
        margin-bottom: 11px;

}
#ready-section .read p {
 
    margin: 13px 0;
}
#review-section .img_content:before {
    display: none;
}
#review-section .owl-prev {
    
    left: 0
}
#review-section .owl-next {
    
    right: 0
}




}






